<ng-template #addEventDialog>
    <div class="modal-header">
        <h4 class="modal-title">Event</h4>
        <button type="button" class="close pull-right" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <span class="ui-float-label">
                <input id="titleInput" type="text" size="30" pInputText [(ngModel)]="newEvent.title">
                <label for="titleInput">Event Title</label>
            </span>
        </div>

        <div class="form-group">
            <span class="ui-float-label">
                <p-calendar id="startDate" [(ngModel)]="newEvent.startDate" [showIcon]="true"></p-calendar>
                <label for="startDate">Event Date</label>
            </span>
        </div>
        <div class="form-group">
            <p-checkbox [(ngModel)]="newEvent.allDay" label="All Day?" binary="true"></p-checkbox>
        </div>
        <div class="form-group">
            <span class="ui-float-label">
                <p-calendar id="startTime" [(ngModel)]="newEvent.startTime" [showIcon]="true"
                            [timeOnly]="true" hourFormat="12" icon="pi pi-clock" [disabled]="newEvent.allDay"></p-calendar>
                <label for="startTime">Event Time</label>
            </span>
        </div>
        <div class="form-group">
            <span class="ui-float-label">
                <input id="eventLocation" class="form-control" type="text" size="50" pInputText [(ngModel)]="newEvent.location">
                <label for="eventLocation">Location</label>
            </span>
        </div>
        <div class="form-group">
            <span class="ui-float-label">
                <textarea class="form-control" id="descriptionTextArea" pInputTextarea rows="4" [(ngModel)]="newEvent.description"></textarea>
                <label for="descriptionTextArea">Description</label>
            </span>
        </div>
        <div class="form-group">
            <p-checkbox [(ngModel)]="newEvent.isRecurring" label="Is Recurring?" binary="true"></p-checkbox>
        </div>
        <div class="form-group" *ngIf="newEvent.isRecurring">
            <p-selectButton [options]="recurrenceTypes" [(ngModel)]="newEvent.recurrenceType"></p-selectButton>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalRef.hide(); createEvent()"><i class="fas fa-check"></i> Ok</button>
        <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()"><i class="fas fa-ban"></i> Cancel</button>
    </div>
</ng-template>

<div>
    <button *ngIf="isAuthenticated()" class="btn btn-sm btn-outline-success" (click)="addEvent()" style="margin-left: 0; margin-bottom:15px">
        <i class="fas fa-plus"></i> Add Event
    </button>

    <div id='calendar'></div>

    <div class="adminPanel" *ngIf="isEditOn()">
        <button class="btn btn-sm btn-danger adminButton" (click)="deleteContent()">
            <i class="fas fa-trash-alt"></i> Delete
        </button>
    </div>
</div>
