<p-dialog *ngIf="selectedEvent" [(visible)]="showEventDialog" [width]="400">
    <p-header>
        {{ selectedEvent.title }}
    </p-header>
    <div class="row">
        <div class="col-3">
            Description
        </div>
        <div class="col-9">
            {{ selectedEvent.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Date/Time
        </div>
        <div class="col-9">
            {{ selectedEvent.start.format('MM/DD/YYYY hh:mm A') }}
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-times" (click)="showEventDialog=false" label="Close"></button>
    </p-footer>
</p-dialog>

<div *ngIf="showAddEvent">
    <div class="form-group">
        <label for="eventTitle">Title</label>
        <input id="eventTitle" class="form-control" type="text" size="50" pInputText [(ngModel)]="newEvent.title" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label>Date</label>
        <div class="input-group">
            <input class="form-control" placeholder="Select Date" [(ngModel)]="newEvent.startDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Time</label>
        <ngb-timepicker [(ngModel)]="newEvent.startTime" [meridian]="true"></ngb-timepicker>
    </div>
    <div class="form-group">
        <label for="eventLocation">Location</label>
        <input id="eventLocation" class="form-control" type="text" size="50" pInputText [(ngModel)]="newEvent.location" placeholder="Enter Location">
    </div>
    <div class="form-group">
        <label for="descriptionTextArea">Description</label>
        <textarea class="form-control" id="descriptionTextArea" rows="4" [(ngModel)]="newEvent.description" placeholder="Enter Description"></textarea>
    </div>
    <div>
        <button class="btn btn-sm btn-success adminButton" (click)="createEvent()">
            <i class="fas fa-plus"></i> Add
        </button>
        <button class="btn btn-sm btn-danger adminButton" (click)="cancelAddEvent()">
            <i class="fas fa-ban"></i> Cancel
        </button>
    </div>
</div>

<div *ngIf="!showAddEvent">
    <button *ngIf="isAuthenticated()" class="btn btn-sm btn-success adminButton" (click)="addEvent()" style="margin-left: 0; margin-bottom:15px">
        <i class="fas fa-plus"></i> Add Event
    </button>
    <div class="row">
        <div class="col-12">
            <div id='calendar'></div>
        </div>
    </div>
    <div class="adminPanel" *ngIf="isEditOn()">
        <button *ngIf="!pageContent.editing" class="btn btn-sm btn-danger adminButton" (click)="deleteContent()">
            <i class="fas fa-trash-alt"></i> Delete
        </button>
    </div>
</div>
