<footer class='position-relative'>
    <div class='container'>
        <div class='row' style="background-color:white">
            <img src="assets/images/Insigne_Francisci.svg_.png" class="footer-image mx-auto">
            <img src="assets/images/usccb-logo-2018.png" class="footer-image mx-auto">
            <img src="assets/images/Diocese_of_Belleville.svg.png" class="footer-image mx-auto">
        </div>

        <div class="row footer-content">
            <div class='col'>
                <p>Copyright &copy; 2019 Holy Childhood of Jesus Catholic Church</p>
            </div>
        </div>
    </div>
</footer>

