<div *ngIf="editing && textContent" [froalaEditor]="options" [(froalaModel)]="textContent.content" ></div>
<div *ngIf="!editing && textContent" [froalaView]="textContent.content" style="min-height: 35px;"></div>
<div class="adminPanel" *ngIf="isEditOn()">
    <div class="row">
        <div class="col-auto mr-auto">
        <button *ngIf="!editing" class="btn btn-sm btn-primary adminButton" (click)="editContent()">
            <i class="fas fa-edit"></i> Edit
        </button>
        <button *ngIf="editing" class="btn btn-sm btn-primary adminButton" (click)="saveContent()">
            <i class="fas fa-save"></i> Save
        </button>
        <button *ngIf="editing" class="btn btn-sm btn-warning adminButton" (click)="cancelEdit()">
            <i class="fas fa-ban"></i> Cancel
        </button>
        <button *ngIf="!editing && pageContent" class="btn btn-sm btn-danger adminButton" (click)="pageComponent.deleteContent(pageContent.id)">
            <i class="fas fa-trash-alt"></i> Delete
        </button>
        <button *ngIf="pageContent && pageContent.index !== 0" class="btn btn-sm btn-secondary adminButton" (click)="pageComponent.moveContentUp(pageContent.id)">
            <i class="fas fa-angle-up"></i> Move Up
        </button>
        <button *ngIf="pageContent && pageContent.index < pageComponent.page.pageContents.length - 1" class="btn btn-sm btn-secondary adminButton" (click)="pageComponent.moveContentDown(pageContent.id)">
            <i class="fas fa-angle-down"></i> Move Down
        </button>
        </div>
        <div class="col-auto">
            <p-dropdown [options]="backups" [(ngModel)]="selectedBackup"
                        optionLabel="displayDate"
                        placeholder="Select a Backup"
                        [style]="{'width': '250px', 'lineHeight':'1.0'}"></p-dropdown>
            <button class="btn btn-sm btn-warning adminButton" style="margin-right: 5px;" (click)="restoreContent()">
                <i class="fas fa-trash-restore"></i> Restore
            </button>
        </div>
    </div>
</div>
