<header>
    <div class='container'>
        <div class='row header1'>
            <div class='col-lg-1 align-middle'>
                <!--<h1><i class="fas fa-church"></i></h1>-->
                <div class="logo"></div>
            </div>
            <div class='col-lg-8'>
                <h2>Holy Childhood of Jesus</h2>
                <h6>Catholic Church</h6>
            </div>
            <div class='col-lg-3'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <i class="fas fa-phone"></i> (618) 566-2958
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <a href="mailto:hcc@holychildhoodchurch.com">hcc@holychildhoodchurch.com</a>
                    </div>
                </div>
            </div>
            <!--<div class='col-lg-3'>-->
                <!--<div class='row'><div class='col-sm-12'>419 East Church St.</div></div>-->
                <!--<div class='row'><div class='col-sm-12'>Mascoutah, IL 62258</div></div>-->
            <!--</div>-->
        </div>
        <div class='row header2'>
            <div class='col-md-12'>
                <app-nav></app-nav>
            </div>
        </div>
    </div>
</header>
