<!-- Dialogs -->
<span *ngIf="isEditOn()">
    <ng-template #confirmationDialog>
        <div class="modal-header">
            <h4 class="modal-title">{{ confirmModel.title }}</h4>
            <button type="button" class="close pull-right" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <i class="fas fa-question"></i> {{ confirmModel.message }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modalRef.hide(); confirmModel.onOk()"><i class="fas fa-check"></i> Yes</button>
            <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()"><i class="fas fa-ban"></i> No</button>
        </div>
    </ng-template>

    <ng-template #tabDialog>
        <div class="modal-header">
            <h4 class="modal-title">Tab</h4>
            <button type="button" class="close pull-right" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <span class="ui-float-label" style="margin: 15px">
                <input id="float-input" type="text" size="30" pInputText [(ngModel)]="tab.title">
                <label for="float-input">Tab Title</label>
            </span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modalRef.hide(); updateTab()"><i class="fas fa-check"></i> Yes</button>
            <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()"><i class="fas fa-ban"></i> No</button>
        </div>
    </ng-template>
</span>

<ngb-tabset (tabChange)="beforeTabChange($event)">
    <ngb-tab *ngFor="let tab of tabContent.tabs">
        <ng-template ngbTabTitle>
            {{ tab.title }}
            <span *ngIf="isEditOn()">
                &nbsp;
                <a href="#" (click)="showTabDialog(tab)">
                    <i class="fas fa-edit"></i>
                </a>
                &nbsp;
                <a href="#" (click)="deleteTab(tab)">
                    <span style="color: red">
                        <i class="fas fa-close"></i>
                    </span>
                </a>
            </span>
        </ng-template>
        <ng-template ngbTabContent>
            <app-content-text [textContent]="tab.textContent"></app-content-text>
        </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="isEditOn() && tabContent.tabs.length == 0">
    </ngb-tab>
    <ngb-tab *ngIf="isEditOn()" id="addTab">
        <ng-template ngbTabTitle>
            <i class="fas fa-plus"></i> Add Tab...
        </ng-template>
    </ngb-tab>
</ngb-tabset>
<div class="adminPanel" *ngIf="isEditOn()">
    <button class="btn btn-sm btn-danger adminButton" (click)="deleteContent()">
        <i class="fas fa-trash-alt"></i> Delete
    </button>
</div>
