<div class="hcc-inside-image">
    <div style="height: 100%; position: relative;">
        <p class="hcc-quote">
            At Holy Childhood, we use the gifts that God has given us, our gifts of time, talent and treasure, to further the Kingdom of God here on earth.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Our Mission</h2>
            <p>
                To be a credible sign of God’s love and care, Holy Childhood Parish needs to be a loving, charitable and caring community that is spiritually challenging, generously welcoming and liturgically alive. We strive to reach out to those in spiritual need and basic material needs. We will be open to the ideas of others, and, with God’s help, continue to live out the Gospel message.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div [ngClass]="{'edit': isEditOn()}">
                <app-content-text [textContent]="main"></app-content-text>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2>Weekly Schedule</h2>

            <div [ngClass]="{'edit': isEditOn()}">
                <app-content-text [textContent]="weeklySchedule"></app-content-text>
            </div>
        </div>
        <div class="col-lg-4">
            <h2>Upcoming Events</h2>
            <ng-template #eventTemplate let-event="event">
                <div style="width: 400px">
                    <b>Date:</b> {{ getDate(event.start) }}
                    <div *ngIf="!event.allDay">
                        <b>Time:</b>
                        {{ getTime(event.start) }}
                        <span *ngIf="event.end">
                            -&nbsp;{{ getTime(event.end) }}
                        </span>
                    </div>
                </div>
                <div *ngIf="event.location">
                    <b>Location: </b> {{ event.location }}
                </div>
                <div *ngIf="event.description">
                    <b>Description: </b> {{ event.description }}
                </div>
            </ng-template>
            <div class="row" *ngFor="let event of upcomingEvents" [popoverTitle]="event.title"
                    [popover]="eventTemplate" [popoverContext]="{event: event}"
                    triggers="mouseenter:mouseleave">
                <div class="col-3">
                    <div class="card" style="width: 65px; padding: 0; margin-bottom: 5px; border-color: #1f3e65">
                        <div class="card-header text-center" style="font-weight: bold; padding: 0; background-color: #1f3e65; color: white;">
                            {{ event.start | date:'MMM'}}
                        </div>
                        <div class="card-body text-center" style="font-weight: bold; padding: 0;">
                            {{ event.start | date:'d'}}
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div style="font-weight: bold">{{ event.title }}</div>
                    {{ event.start | date: 'shortTime'}}
                    <span *ngIf="event.end">
                       -&nbsp;{{ event.end | date: 'shortTime' }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-8">
            <h2>Contact Information</h2>
            <div [ngClass]="{'edit': isEditOn()}">
                <app-content-text [textContent]="contactInfo"></app-content-text>
            </div>
        </div>
        <div class="col-lg-4">
            <a href="http://churchcampaign.org/holychild" target="_blank">
                <img src="assets/images/Past2Future.jpg" style="width: 250px">
            </a>
        </div>
    </div>

</div>
