<!-- Dialogs -->
<span *ngIf="isEdit()">
    <ng-template #pageDialog>
        <div class="modal-header">
            <h4 class="modal-title">Page</h4>
            <button type="button" class="close pull-right" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <span class="ui-float-label" style="margin: 15px">
                <input id="pageTitle" type="text" size="30" pInputText [(ngModel)]="page.title">
                <label for="pageTitle">Page Title</label>
            </span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modalRef.hide(); addPage()"><i class="fas fa-check"></i> Ok</button>
            <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()"><i class="fas fa-ban"></i> Cancel</button>
        </div>
    </ng-template>

    <ng-template #menuDialog>
        <div class="modal-header">
            <h4 class="modal-title">Menu</h4>
            <button type="button" class="close pull-right" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <span class="ui-float-label" style="margin: 15px">
                <input id="menuName" type="text" size="30" pInputText [(ngModel)]="menu.name">
                <label for="menuName">Menu Name</label>
            </span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modalRef.hide(); addMenu()"><i class="fas fa-check"></i> Ok</button>
            <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()"><i class="fas fa-ban"></i> Cancel</button>
        </div>
    </ng-template>

    <ng-template #confirmationDialog>
        <div class="modal-header">
            <h4 class="modal-title">{{ confirmModel.title }}</h4>
            <button type="button" class="close pull-right" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <i class="fas fa-question"></i> {{ confirmModel.message }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modalRef.hide(); confirmModel.onOk()"><i class="fas fa-check"></i> Yes</button>
            <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()"><i class="fas fa-ban"></i> No</button>
        </div>
    </ng-template>

</span>

<nav class="navbar navbar-expand-md navbar-dark">
    <!--<div class="navbar-brand">-->
        <!--<img src="assets/images/cross.png" style="height: 35px" alt="cross">-->
    <!--</div>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>

            <li class="nav-item" *ngFor="let menuItem of navService.menuItems" [ngClass]="{'dropdown': hasPages(menuItem) || isEdit()}">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ menuItem.name }}</a>
                <div class="dropdown-menu">

                    <a *ngFor="let page of menuItem.pages" class="dropdown-item" routerLink="/pages/{{ page.id }}">{{ page.title }}</a>

                    <div *ngIf="isEdit()" class="dropdown-divider"></div>
                    <a *ngIf="isEdit()" class="dropdown-item" (click)="showPageDialog(menuItem)" style="cursor: pointer;">
                        <i class="fas fa-plus"></i><i> Add Page...</i>
                    </a>
                    <a *ngIf="isEdit()" class="dropdown-item" (click)="showMenuDialog(menuItem)" style="cursor: pointer;">
                        <i class="fas fa-pencil-alt"></i><i> Edit Menu...</i>
                    </a>
                    <a *ngIf="isEdit() && menuItem.pages.length == 0" class="dropdown-item" (click)="deleteMenu(menuItem)" style="cursor: pointer;">
                        <i class="fas fa-trash"></i><i> Delete Menu</i>
                    </a>
                </div>
            </li>

            <div *ngIf="isEdit()">
                <button class="btn btn-sm btn-success adminButton" style="margin-top: 8px" (click)="showMenuDialog(null)">
                    <i class="fas fa-plus"></i> Add Menu
                </button>
            </div>

        </ul>
        <ul class="navbar-nav">
            <li *ngIf="isAuthenticated()" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user"></i> {{ getFullName() }}
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" routerLink="/profile"><i class="fas fa-user-cog"></i> User Profile</a>
                    <a class="dropdown-item" routerLinkActive="active" routerLink="/settings">
                        <i class="fas fa-cogs"></i> Settings
                    </a>
                    <div class="dropdown-item" (click)="$event.stopPropagation()">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6">
                                <p-inputSwitch [(ngModel)]="editModeOn" (onChange)="toggleEditMode()"></p-inputSwitch>
                            </div>
                            <div class="ui-grid-col-6">
                                Edit&nbsp;
                                <span *ngIf="isEdit()">On</span>
                                <span *ngIf="!isEdit()">Off</span>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()" [routerLink]="">
                        <i class="fas fa-sign-out-alt"></i> Logoff
                    </a>
                </div>

            </li>
            <li *ngIf="!isAuthenticated()" class="nav-item">
                <button class="btn btn-sm btn-outline-light" routerLink="/login">
                    <i class="fas fa-sign-in-alt"></i> Login
                </button>
            </li>
        </ul>
    </div>
</nav>
