<ng-template #confirmationDialog>
    <div class="modal-header">
        <h4 class="modal-title">{{ confirmModel.title }}</h4>
        <button type="button" class="close pull-right" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ confirmModel.message }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modalRef.hide(); confirmModel.onOk()"><i class="fas fa-check"></i> Yes</button>
        <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()"><i class="fas fa-ban"></i> No</button>
    </div>
</ng-template>

<ng-template #userDialog>
    <div class="modal-header">
        <h4 class="modal-title">Add User</h4>
        <button type="button" class="close pull-right" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" [formGroup]="userForm">
        <div class="ui-g">
            <div class="ui-g-12">
                <p-selectButton [options]="roles" formControlName="selectedRole"></p-selectButton>
            </div>
            <div class="ui-g-12">
                <span class="ui-float-label" style="margin-top: 8px">
                    <input id="userName" type="text" class="form-control" pInputText required formControlName="userName">
                    <label for="userName">UserName (first.last)</label>
                </span>
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="invalid">
                    UserName is required
                </div>
            </div>
            <div class="ui-g-6" style="margin-top: 8px">
                <span class="ui-float-label">
                    <input id="firstName" type="text" class="form-control" pInputText formControlName="firstName">
                    <label for="firstName">First Name</label>
                </span>
            </div>
            <div class="ui-g-6" style="margin-top: 8px">
                <span class="ui-float-label">
                    <input id="lastName" type="text" class="form-control" pInputText formControlName="lastName">
                    <label for="lastName">Last Name</label>
                </span>
            </div>
            <div class="ui-g-12" style="margin-top: 8px">
                <span class="ui-float-label">
                    <input id="email" type="text" class="form-control" pInputText required formControlName="email">
                    <label for="email">Email Address</label>
                </span>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid">
                    Email Address is required
                </div>
            </div>
            <div *ngIf="!isEdit" class="ui-g-6" style="margin-top: 8px">
                <span class="ui-float-label">
                    <input id="password" type="password" class="form-control" pPassword required formControlName="password">
                    <label for="password">Password</label>
                </span>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid">
                    <div *ngIf="password.errors.required">
                        Password is required
                    </div>
                    <div *ngIf="password.errors.pattern">
                        Password must contain at least one Uppercase letter, one Lowercase letter, one digit and must be between 8 and 15 characters
                    </div>
                </div>
                <div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && password.value !== confirmPassword.value" class="invalid">
                    Passwords do not match
                </div>
            </div>
            <div *ngIf="!isEdit" class="ui-g-6" style="margin-top: 8px">
                <span class="ui-float-label">
                    <input id="confirmPassword" type="password" class="form-control" pPassword required formControlName="confirmPassword">
                    <label for="confirmPassword">Confirm Password</label>
                </span>
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="invalid">
                    Confirm Password is required
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="userForm.invalid || (!isEdit && password.value !== confirmPassword.value)" (click)="modalRef.hide(); saveUser()"><i class="fas fa-check"></i> Ok</button>
        <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()"><i class="fas fa-ban"></i> Cancel</button>
    </div>
</ng-template>

<br />
<button class="btn btn-sm btn-outline-success" (click)="showAddUser()" style="margin-left: 0; margin-bottom:15px">
    <i class="fas fa-plus"></i> Add User
</button>
<p-card>
    <p-header>
        <h4>
            <i class="fas fa-users"></i> Users
        </h4>
    </p-header>
    <p-table [value]="users" [responsive]="true" [tableStyle]="{'table-layout': 'auto'}">
        <ng-template pTemplate="header">
            <tr>
                <th class="hcc-table-header">UserName</th>
                <th class="hcc-table-header">First Name</th>
                <th class="hcc-table-header">Last Name</th>
                <th class="hcc-table-header" style="min-width: 200px">Email Address</th>
                <th class="hcc-table-header">Roles</th>
                <th class="hcc-table-header" style="min-width: 120px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td class="hcc-table-cell">{{ user.userName }}</td>
                <td class="hcc-table-cell">{{ user.firstName }}</td>
                <td class="hcc-table-cell">{{ user.lastName }}</td>
                <td class="hcc-table-cell" style="min-width: 200px">{{ user.email }}</td>
                <td class="hcc-table-cell">{{ user.roles }}</td>
                <td class="hcc-table-cell" style="min-width: 120px">
                    <button mat-icon-button color="primary" (click)="showEditUser(user)">
                        <mat-icon>create</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteUser(user)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<!--<mat-tab-group>-->
    <!--<mat-tab>-->
        <!--<ng-template mat-tab-label>-->
            <!--<i class="fas fa-users"></i>&nbsp;Users-->
        <!--</ng-template>-->

        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<button mat-raised-button color="primary" class="hccButton" (click)="showAddUser()">-->
                    <!--<mat-icon>add</mat-icon> Add User-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<table mat-table [dataSource]="users" class="mat-elevation-z8" width="100%">-->
                    <!--<ng-container matColumnDef="username">-->
                        <!--<th mat-header-cell *matHeaderCellDef>UserName</th>-->
                        <!--<td mat-cell *matCellDef="let user">{{ user.userName }}</td>-->
                    <!--</ng-container>-->
                    <!--<ng-container matColumnDef="firstName">-->
                        <!--<th mat-header-cell *matHeaderCellDef>First name</th>-->
                        <!--<td mat-cell *matCellDef="let user">{{ user.firstName }}</td>-->
                    <!--</ng-container>-->
                    <!--<ng-container matColumnDef="lastName">-->
                        <!--<th mat-header-cell *matHeaderCellDef>Last Name</th>-->
                        <!--<td mat-cell *matCellDef="let user">{{ user.lastName }}</td>-->
                    <!--</ng-container>-->
                    <!--<ng-container matColumnDef="email">-->
                        <!--<th mat-header-cell *matHeaderCellDef>Email</th>-->
                        <!--<td mat-cell *matCellDef="let user">{{ user.email }}</td>-->
                    <!--</ng-container>-->
                    <!--<ng-container matColumnDef="roles">-->
                        <!--<th mat-header-cell *matHeaderCellDef>Roles</th>-->
                        <!--<td mat-cell *matCellDef="let user">{{ user.roles }}</td>-->
                    <!--</ng-container>-->
                    <!--<ng-container matColumnDef="actions">-->
                        <!--<th mat-header-cell *matHeaderCellDef></th>-->
                        <!--<td mat-cell *matCellDef="let user">-->
                            <!--<button mat-icon-button color="primary">-->
                                <!--<mat-icon>create</mat-icon>-->
                            <!--</button>-->
                            <!--<button mat-icon-button color="warn">-->
                                <!--<mat-icon>delete</mat-icon>-->
                            <!--</button>-->
                        <!--</td>-->
                    <!--</ng-container>-->

                    <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
                    <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</mat-tab>-->
    <!--<mat-tab label="Roles">-->
        <!--Roles-->
    <!--</mat-tab>-->
    <!--<mat-tab label="Other Settings">-->
        <!--Other Settings-->
    <!--</mat-tab>-->
<!--</mat-tab-group>-->
